.search-form {
  .screen-reader-text {
    display: none;
  }
}

.search-results {
  .entry-header {
    justify-content: baseline;
  }
}

input[type="search"].search-field {
  border: 1px solid #979797;
  text-align: left;
  color: inherit;
  @include min-w($screen-lg) {
    min-width: 300px;
  }
}
