<blockquote>
  <p>AMICORUM (Latin word close to the meaning of Gathering of Friends) is an innovative platform that will decentralize the ticket re-sale industry using blockchain and secure identity platform.</p>
  <footer><a href="https://amicorum.live/" target="_blank">https://amicorum.live/</a></footer>
</blockquote>
