<blockquote>
  <p>BitCoin ONE is a decentralized and community driven project.</p>
  <footer><a href="https://www.bitcoinone.io/" target="_blank">https://www.bitcoinone.io/</a></footer>
</blockquote>
