<blockquote>
  <p>EPay is a platform for the future of trading market and online wallet 2.0</p>
  <footer><a href="https://www.etherpaywallet.com/" target="_blank">https://www.etherpaywallet.com/</a></footer>
</blockquote>
