<blockquote>
  <p>LocalCoinSwap is building a P2P cryptocurrency exchange and launching an associated Cryptoshare ICO</p>
  <footer><a href="https://www.localcoinswap.com/" target="_blank">https://www.localcoinswap.com/</a></footer>
</blockquote>
