<blockquote>
  <p>Mobile Voice and Data Telecom Services Decentralized using Blockchain technology.</p>
  <footer><a href="https://mobilink.io/" target="_blank">https://mobilink.io/</a></footer>
</blockquote>
