<blockquote>
  <p>NeoCash aim is to realize the full potential of NeoCcash technology by changing the way people think about money and value</p>
  <footer><a href="http://www.neocash.cash/" target="_blank">http://www.neocash.cash/</a></footer>
</blockquote>
