<blockquote>
  <p>The Neodium Network is a global decentralized patent ecosystem. This technology simplifies the process of submitting patents and allows for the voice of the community to be heard through a consensus system.</p>
  <footer><a href="https://neodium.network/" target="_blank">https://neodium.network/</a></footer>
</blockquote>
