<blockquote>
  <p>The NTK token will be used to power Netkoin’s universal rewards system on Netkoin’s location based mobile application and business management platform.</p>
  <footer><a href="http://www.netkoin.com/" target="_blank">http://www.netkoin.com/</a></footer>
</blockquote>
