<blockquote>
  <p>By developing the Peur marketplace, payment solution & payroll integration, we enable merchants to participate in the decentralized economy, receive Ethereum-based tokens & mobile payments, and use the token as a salary payment option in our payroll integration system.</p>
  <footer><a href="https://www.peur.io/" target="_blank">https://www.peur.io/</a></footer>
</blockquote>
