<blockquote>
  <p>Ripple Cash is designed to be the next generation payment system. This is a real-time, instant, secure and scalable payment system built on top of Ethereum network.</p>
  <footer><a href="https://www.ripple-cash.technology/" target="_blank">https://www.ripple-cash.technology/</a></footer>
</blockquote>
