<blockquote>
  <p>It is a Latin American organization, enthusiast of the Blockchain Technology, creators of SINERGIA (SNG), the first Colombian cryptoactive framed in an ecosystem of learning and culture of innovation, of generation of knowledge and improvement of the quality of life through technology.</p>
  <footer><a href="https://www.sinergiablockchain.org/" target="_blank">https://www.sinergiablockchain.org/</a></footer>
</blockquote>
