<blockquote>
  <p>SilentNotary is a multiplatform decentralized service for confirmation of event existence. SilentNotary converts an event into legally significant evidence, excluding the possibility of falsification.</p>
  <footer><a href="https://silentnotary.com/" target="_blank">https://silentnotary.com/</a></footer>
</blockquote>
