<blockquote>
  <p>TOKENBOX - ecosystem for crypto investors, funds and traders. Portfolio managers and traders receive a ready-made "box" solution for the creation of its own tokenized fund, operating within the legal framework. Investors can make their choice between different funds, according to the inherent ratio of risk and return.</p>
  <footer><a href="https://tokenbox.io/" target="_blank">https://tokenbox.io/</a></footer>
</blockquote>
