<blockquote>
  <p>Ethereum.broker is an asset tokenization hub for research and development in the Ethereum ecosystem. VIX Coin is a token that allows investors to cover against the negative effects of market volatility.</p>
  <footer><a href="https://ethereum.broker" target="_blank">https://ethereum.broker</a></footer>
</blockquote>
