<blockquote>
  <p>VVcoin aims to facilitate tourists, travelers and the business associated with the tourism sector</p>
  <footer><a href="https://www.vvcoin.io/" target="_blank">https://www.vvcoin.io/</a></footer>
</blockquote>
