<blockquote>
  <p>XY Oracle Network is the location-verifying proof of origin protocol that connects the blockchain to the real world</p>
  <footer><a href="https://xyo.network/" target="_blank">https://xyo.network/</a></footer>
</blockquote>
