<blockquote>
  <p>Yolocash (YLC) Token is an unique cryptocurrency project driven by a global collaborative community with no private business agenda backing it. Know as the new kind of concept to tokenized franchising.</p>
  <footer><a href="https://www.yoloworld.org/" target="_blank">https://www.yoloworld.org/</a></footer>
</blockquote>
