.footer-nav-column {
  @include max-w($screen-xs) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.footer-nav {
  &__title {
    font-size: 12px;
    color: #fff;
    @include min-w($screen-lg) {
      margin-bottom: 1.1em;
      font-size: 16px;
    }
  }

  ul a {
    opacity: .67;
  }

  li {
    margin-bottom: 1em;
  }
}
