.primary-nav-open {
  .primary-nav,
  .top-items-group {
    display: block;
  }

  .hamburger {
    &__lines {
      span {
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          margin-top: -2px;
          margin-bottom: 0;
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

.hamburger {
  width: 16px;
  height: 12px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  @include min-w($screen-lg) {
    display: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__lines {
    width: 100%;
    margin: 0 auto;

    span {
      display: block;
      height: 2px;
      background-color: $theme-color;

      &:nth-child(2) {
        margin: 3px 0;
      }
    }
  }
}

.primary-nav {
  display: none;
  padding-top: 15px;
  background-color: #fff;
  @include min-w($screen-lg) {
    display: block;
    padding-top: 0;
    background-color: transparent;
  }

  a {
    display: inline-block;
    position: relative;
    color: #2F2F2F;
    @include min-w($screen-lg) {
      &:hover {
        &::after {
          background-color: $theme-color;
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -25px;
        margin: 0 auto;
        height: 4px;
        transition: background-color .5s;
      }
    }

    &:hover {
      color: lighten(#2F2F2F, 20%);
    }
  }

  ul {
    li {
      padding-bottom: 15px;
      @include min-w($screen-lg) {
        display: inline-block;
        padding-right: 25px;
        padding-bottom: 0;
      }
      @include min-w($screen-xl) {
        padding-right: 35px;
      }
    }
  }
}
