.social-nav {
  margin-bottom: 11px;

  ul {
    span {
      display: none;
    }
  }

  li {
    display: inline-block;
    padding-right: 14px;
    padding-bottom: 14px;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    &::before {
      @extend .icon;
      @extend .icon-socials;
      content: '';
      display: inline-block;
    }

    &[href*="facebook"]::before {
      @extend .icon-facebook;
    }
    &[href*="github"]::before {
      @extend .icon-git;
    }
    &[href*="reddit"]::before {
      @extend .icon-reddit;
    }
    &[href*="slack"]::before {
      @extend .icon-slack;
    }
    &[href*="twitter"]::before {
      @extend .icon-twitter;
    }
    &[href*="youtube"]::before {
      @extend .icon-youtube;
    }
  }
}
