//  Базовые стили

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-color: $body-bg;
  color: $text-color;
	font-family: $font-family;
  font-weight: $font-weight;
	font-size: 14px;
	line-height: $line-height;
  @include min-w($screen-lg) {
    font-size: $font-size;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active {
    color: $link-color-hover;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
  @include min-w($screen-xl) {
    max-width: $container-width;
  }
}

.site-main {
  min-height: 600px;
}

.site-overlay {
  display: none;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, .5);

  &.active {
    display: block;
  }
}

.headline {
  text-align: center;

  &__title {
    margin-bottom: 15px;

    @include min-w($screen-lg) {
      margin-bottom: 25px;
    }
  }

  &__description {
    margin: 0 auto 25px;
    max-width: 518px;
    line-height: 25px;
    @include min-w($screen-lg) {
      margin-bottom: 50px;
    }
    @include min-w($screen-xl) {
      line-height: 30px;
    }
  }
}
