// Color

$body-bg: #fff;
$text-color: #8A909A;

$theme-color: #827DF9;

// Link color

$link-color: #55b3f3;
$link-color-hover: darken($link-color, 20%);

// Typography

$font-family: 'Roboto', Helvetica, Arial, sans-serif;

$font-size: 17px;
$font-weight: 400; // Regular
$line-height: 1.2;

// Grid containers

$container-padding: 15px;
$container-width: 1006px + $container-padding * 2;

// Grid breakpoints

$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
