// Buttons

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 142px;
  background: none;
  outline: 0 none;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color .5s, color .5s;
  @include min-w($screen-lg) {
    font-size: 17px;
  }
}

.btn--lg {
  padding: 11px;
  min-width: 150px;
  @include min-w($screen-lg) {
    padding: 16px;
    min-width: 196px;
  }
}

.btn-primary {
  border-color: $theme-color;
  background-color: $theme-color;

  &:hover {
    border-color: #565656;
    color: #565656;
    background-color: transparent;
  }
}

.btn-default {
  border-color: #565656;
  color: #565656;

  &:hover {
    border-color: $theme-color;
    color: #fff;
    background-color: $theme-color;
  }
}
